<header class="header-position">
  <div class="header">
    <div class="header-col-left"></div>

    <div class="header-col-middle">
      <i class="icon header-icon header-icon-clock far fa-clock"></i>
     
      <div class="header-search">
        <i class="icon header-icon-search fas fa-search"></i>
        <p class="header-search-text">Search Adattarlo</p>
      </div>

      <i class="icon header-icon header-icon-question far fa-question-circle"></i>
    </div>

    <div class="header-col-right">
      <a href="#">
        <img class="header-gravatar" src="https://www.gravatar.com/avatar/e11da9312394ee6f292319f468df9344"/>
      </a>
    </div>
  </div>
</header>